/* List of vars */

/* Mixnis */

/* mixin sizes */
$letter-spacing: 0.2em;
$border-radius:10px;
$margin-bottom:1px;

//Sizes for different sizes

$padding-horizontal-big:20px;
$padding-vertical-big:20px;


/* Typo */
$font-family:"Monostate",sans-serif;
$font-size: 1em;
$font-weight: 600;
$font-color:#ffffff;



/*Variant of buttons*/
$pi-default:#32A367;

$pi-primary:#0093FC;

$pi-night:#293C40;

$pi-warning:#BF4724;

$pi-retro:#5A3779;

$pi-water:#C6C4C8;

$border-color:#001728;